@import "./breakpoints.scss";
@import "./Banner.scss";
@import "./nav.scss";
@import "./Website.scss";
@import "./NavMobileMenu.scss";
@import "./footer.scss";
@import "./BannerInfo.scss";
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
html,
a,
p,
li,
code {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
  font-size: 16px;
  font-family: "Old Standard TT", serif;
  color: rgb(37, 37, 37);
  background-color: white;
}

.Website {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: rgb(37, 37, 37);
  text-decoration: none;
}
.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  font-family: "Old Standard TT", serif;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  @include media("<=phone") {
    width: 300px;
  }
  .row {
    display: flex;

    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }

  //navigation
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 300;
}
