@import "./breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
body,
html {
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
  font-size: 16px;
  font-family: "Old Standard TT", serif;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  background-color: green;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }

  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }

  //navigation
  .row {
    display: flex;
    padding: 0.5rem;
  }
  .logo {
    font-size: 2rem;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}
