.main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: green;
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .HomePic {
    }
    h2 {
      font-size: 3rem;
      line-height: 4.2rem;
      z-index: 10;
      mix-blend-mode: diffrence;
    }
  }
  .firstPageContainer {
    height: 90vh;
  }
}
