.BannerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media (min-width: 1080px) {
    margin-top: 5rem;
    & h1 {
      font-size: 2.5rem;
    }
    & p {
      font-size: 1.8rem;
    }
  }
}

.bans {
  order: 0;
}
.BannerItems {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1080px) {
    flex-direction: row;
  }
  margin-top: 2rem;
}
.Bannertext {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media (min-width: 1080px) {
    font-size: 2rem;
  }
}

.Button {
  padding: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  cursor: pointer;
  color: #fff;
  font-size: 1.7rem;
  @media (min-width: 1080px) {
    padding: 1.5rem;
    width: 200px;
    height: 75px;
  }
  &:hover,
  :focus {
    opacity: 0.7;
  }
}

.UnderLine {
  font-size: 1.5rem;
  color: gray;
  border-bottom: 2px solid grey;
  cursor: pointer;
  &:hover,
  :focus {
    opacity: 0.7;
  }
}

@keyframes myanimation {
  0% {
    transform: rotate(0) translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateX(0%);
    opacity: 1;
  }
}
.Bimages {
  animation: myanimation 3s forwards 250ms ease;
  order: 1;
}
