.BannerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.BannerItems {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Bannertext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Button {
  padding: 1.2rem;
  background-color: grey;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  &:hover,
  :focus {
    opacity: 0.7;
  }
}

.UnderLine {
  font-size: 1.5rem;
  color: gray;
  border-bottom: 2px solid grey;
  cursor: pointer;
  &:hover,
  :focus {
    opacity: 0.7;
  }
}

@keyframes myanimation {
  0% {
    transform: rotate(0) translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateX(0%);
    opacity: 1;
  }
}
.Bimages {
  animation: myanimation 3s forwards 250ms ease;
}
