.mobileNavItem {
  font-size: 2rem;
}
.Nav_container {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rowNav {
  text-align: center;
  justify-content: center;
}
.mobileNavItem {
  padding: 0.5rem;
  font-size: 2.5rem;
}
